awesome/
BraveSoftware/
cef_user_data/
clight-gui/
coc/
dconf/
font-manager/
fontconfig/
gtk-3.0/
heroic/
kitty/
legendary/
libreoffice/
mpv/
nautilus/
pipewire/
pulse/
rofi/
simple-scan/
Unknown Organization/
VirtualBox/
mimeapps.list/
okularpartrc/
okularrc/
pavucontrol.ini
picom.conf
QtProject.conf
README.md
user-dirs.dirs
user-dirs.locale
zoomus.conf
mimeapps.list
okularpartrc
okularrc
